@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);/*@import "bootstrap_custom";*/
/*  ------------------------------------------
    Colour codes! Indigo - Pinks
    ------------------------------------------  */
/*  ------------------------------------------
    Breakpoints
    ------------------------------------------  */
/* Typography Basic codes in SCSS
Instruction: Paste the code in you typo.scss file, and ready to work
Additional code from the web:
http://topfunky.com/baseline-rhythm-calculator/
http://pxtoem.com/

Please follow few examples before the codes.
*/
/******************************************************/
/*         Typo code starts from here                 */
/*                                                    */
/*  web:   https://codepen.io/bdjunayed/pen/veZLEy    */
/*                                                    */
/*  Generate for diffrents font-size with line-height */
/*  http://topfunky.com/baseline-rhythm-calculator/   */
/*  css to scss: http://css2sass.herokuapp.com/       */
/******************************************************/
/****   Initialize the HTML                        ****/
html {
  /* Change default typefaces here */
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.4;
  font-size: calc(14px + 0.5vw);
  -webkit-font-smoothing: antialiased;
}

/****font-size:16, line-height: 1.4rem ****************/
p {
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

ul, ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul li, ol li {
  line-height: 1.5rem;
}

ul ul, ol ul, ul ol, ol ol {
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.5em;
  /* line-height: 4.5rem; */
  /* margin-top: 3rem; */
  letter-spacing: 1px;
  font-weight: normal;
}

h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.8rem;
  line-height: 30px;
}

h5 {
  font-size: 0.4713333333333333rem;
}

h6 {
  font-size: 0.3535rem;
}

/* Tables */
table {
  margin-top: 1.5rem;
  margin-bottom: 1.5em;
  border-spacing: 0px;
  border-collapse: collapse;
}

table td, table th {
  padding: 0;
  line-height: 33px;
}

/****font-size:16, line-height: 1.4rem ****************/
@media only screen and (min-width: 30em) {
  /*sm*/
}

@media only screen and (min-width: 48em) {
  /*md*/
}

@media only screen and (min-width: 62em) {
  /*lg*/
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #616161;
  background: #FAFAFA;
}

nav,
footer {
  padding: 1em;
  text-align: center;
  font-size: 0.875em;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cfx::after {
  clear: both;
  content: ' ';
  display: table;
}

.debug {
  outline: 1px solid red;
}

.debug-div {
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 0, 0, 0.125)), to(rgba(255, 0, 0, 0.125))), rgba(255, 255, 255, 0.5);
  background: linear-gradient(to left, rgba(255, 0, 0, 0.125), rgba(255, 0, 0, 0.125)), rgba(255, 255, 255, 0.5);
  background-clip: content-box, padding-box;
  float: left;
  padding-bottom: 1rem;
  padding-top: 1rem;
  outline: 1px solid red;
  text-align: center;
}

/*  ------------------------------------------
Start your code here
------------------------------------------  */
@media only screen and (min-width: 918px) {
  .y {
    width: 49.15254237%;
  }
}

@media only screen and (min-width: 918px) {
  .x {
    margin-left: 23.72881356%;
  }
}

.container-header {
  margin: 0 auto;
  max-width: 100%;
  padding: 0em 2em;
  background: gray;
}

.container-header::after {
  clear: both;
  content: ' ';
  display: table;
}

@media only screen and (min-width: 918px) {
  .container-header {
    background: #000;
  }
}

/*============= Bergar Menu ==============*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #303F9F;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav ul li a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #FAFAFA;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav ul li a:hover {
  color: #F48FB1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-left: 4px solid #fff;
}

.sidenav ul li a.active {
  color: #F48FB1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
