


//@import 'meyer_reset';
//@import 'boilerplate_main';
@import 'my_variables';
@import 'typo';
@import 'button';
@import 'susy_custom';
 //@import 'svg-icons';




 // Initial
// -------
body {
    margin: 0 auto;
    color: $color-gray-700-dark;
    background: $color-gray-50-lightest;
}

nav,
footer {
    padding: 1em;
    text-align: center;
    font-size: 0.875em;
} // My initials
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
} //My utilities
.cfx {
    @include clearfix;
}

.debug {
    //border:1px dotted #ff0000;
    //background: rgba(0, 0, 0, 0.3); /* 80% Black */
    //background: linear-gradient(to left, rgba(red, 0.125), rgba(red, 0.125)), rgba(white, 0.5);
    //background-clip: content-box, padding-box;
    outline: 1px solid red;
}

.debug-div {
    background: linear-gradient(to left, rgba(red, 0.125), rgba(red, 0.125)), rgba(white, 0.5);
    background-clip: content-box, padding-box;
    float: left;
    padding-bottom: 1rem;
    padding-top: 1rem;
    outline: 1px solid red;
    text-align: center;
}

/*  ------------------------------------------
Start your code here
------------------------------------------  */

.y {

    @media only screen and (min-width: $md) {
        width: span(6);
    }
}

.x {
    @media only screen and (min-width: $md) {
        margin-left: span(3);
    }

}
.container-header{
    @include container($width: 100%, $debug: false);
    padding: 0em 2em;
    background:gray;
    @media only screen and (min-width: $md) {
        background: #000;
    }
}

/*============= Bergar Menu ==============*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $color-primary-700;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    ul {
        li {
            a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 16px;
                color: $color-gray-50-lightest;
                display: block;
                transition: 0.3s;

            }
            a:hover {
                color: $color-secondary-200;
                transition: 0.4s;
                border-left: 4px solid #fff;



            }
            a.active {
               color: $color-secondary-200;

            }
        }
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}
