//@import 'meyer_reset';
//@import 'boilerplate_main';
@import 'my_variables';
@import 'typo';
@import 'button';
@import 'susy_custom'; //@import 'svg-icons';
// Initial
// -------
body {
    margin: 0 auto;
    color: $color-gray-700-dark;
    background: $color-gray-50-lightest;

}

nav,
footer {
    padding: 1em;
    text-align: center;
    font-size: 0.875em;
} // My initials
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
} //My utilities
.cfx {
    @include clearfix;
}

.debug {
    //border:1px dotted #ff0000;
    //background: rgba(0, 0, 0, 0.3); /* 80% Black */
    //background: linear-gradient(to left, rgba(red, 0.125), rgba(red, 0.125)), rgba(white, 0.5);
    //background-clip: content-box, padding-box;
    outline: 1px solid red;
}

.debug-div {
    background: linear-gradient(to left, rgba(red, 0.125), rgba(red, 0.125)), rgba(white, 0.5);
    background-clip: content-box, padding-box;
    float: left;
    padding-bottom: 1rem;
    padding-top: 1rem;
    outline: 1px solid red;
    text-align: center;
}

/*  ------------------------------------------
Start your code here
------------------------------------------  */

.y {

    @media only screen and (min-width: $md) {
        width: span(6);
    }
}

.x {
    @media only screen and (min-width: $md) {
        margin-left: span(3);
    }

}

.container-header {
    @include container($width: 100%, $debug: false);
    padding: 0.5em 1em;
    border-top: 5px solid$primary-color-dark;
    background: $primary-color;
    width: 100%;

}

.logo {
    @include span(last 6);
    text-align: right;
    font-size: 18px;
    padding-top: 7px;
    a {
        color: $primary-color-text;
    }
    a:hover {
        color: $accent-color;
        transition: 0.4s;
    }
    span {
        display: none;
    }
}

/*============= Bergar Menu ==============*/

.burger {
    @include span(6);
    span {
        font-size: 28px;
        font-weight: bolder;
        color: $primary-color-text;
        cursor: pointer;
    }
    span:hover {
        color: $accent-color;
        transition: 0.4s;
    }
    .sidenav {

        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: $primary-color-dark;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        ul {
            li {
                a {
                    padding: 8px 8px 8px 32px;
                    text-decoration: none;
                    font-size: 16px;
                    color: $primary-color-text;
                    display: block;
                    transition: 0.3s;
                    font-weight: 400;

                }
                a:hover {
                    color: $accent-color;
                    transition: 0.4s;
                    border-left: 4px solid $accent-color;



                }
                a.active {
                    color: $accent-color;

                }
            }
        }
        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 28px;
            margin-left: 50px;
        }
        .closebtn:hover {
            color: $accent-color;
            transition: 0.4s;
        }
    }
}

/*============  Desktop Menu ==========*/

.Menu {
    display: none;
}

/*========== Training ==================*/

.banner-training {
    text-align: center;
    position: relative;
    padding: 30px 0px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('../images/training.jpg');
    .title {
        font-size: 18px;
        font-weight: 400;
        color: $primary-color-text;
    }
    .subtitle {
        font-size: 16px;
        color: $primary-color-text;
        line-height: 40px;
    }
    .overlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.35);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
}

/*========== Footer Section ============*/

.container-footer {
    @include container($width: 100%, $debug: false);
    background-color: $primary-color;
    padding: 1.6em 1em;
}


.single-footer {
    margin-top: 30px;
    margin-bottom: 30px;

    p {
        padding-top: 7px;
        font-size: 14px;
        color: darkblue;
        color: $primary-color-text;
    }
    a {
        font-size: 18px;
        color: $primary-color-text;
    }
    h3 {
        margin-top: 0px;
        letter-spacing: 1px;
        color: $primary-color-text;
        font-weight: 400;
    }
    .blank {
        a {
            font-size: 14px;
            color: $primary-color-text;
            display: block;
            line-height: 27px;
        }
    }

}

.newslatter-custom {
    background: $primary-color-light;
    padding: 16px;
    border-radius: 4px;
    color: $primary-text-color;
    .blank #email {
        padding: 7px;
        border-radius: 4px;
        border: none;
        margin: 20px 5px 0px 0px;
    }
    h3 {
        color: $primary-text-color;
    }
    p {
        color: $primary-text-color;
    }
}

.container-bootom-footer {
    @include container($width: 100%, $debug: false);
    text-align: center;
    background-color: $primary-color-dark;
    padding: 1.6em 1em;
}

.copyright {
    font-size: 13px;
    p {
        color: $primary-color-text;
        a {
            color: $accent-color;
        }
    }

}
