@import url('https://fonts.maateen.me/solaiman-lipi/font.css');
@import 'my_variables';
@import 'typo';
@import 'button';
@import 'susy_custom';

@import './p_training.scss'; 
/*@import 'svg-icons';*/
@import './p_about_us.scss';
@import './p_services.scss';
@import './p_webdesign.scss';
@import './p_work.scss';
@import './p_work-with-us.scss';

// Initial
// -------
body {
    margin: 0 auto;
    color: $secondary-text-color;
    background: $color-gray-50-lightest;
    //font-family: 'SolaimanLipi', sans-serif;
}

nav,
footer {
    padding: 1em;
    text-align: center;
    font-size: 0.875em;
}

//My utilities
.cfx {
    @include clearfix;
}

.debug {
    //border:1px dotted #ff0000;
    //background: rgba(0, 0, 0, 0.3); /* 80% Black */
    //background: linear-gradient(to left, rgba(red, 0.125), rgba(red, 0.125)), rgba(white, 0.5);
    //background-clip: content-box, padding-box;
    outline: 1px solid red;
}

.debug-div {
    background: linear-gradient(to left, rgba(red, 0.125), rgba(red, 0.125)), rgba(white, 0.5);
    background-clip: content-box, padding-box;
    float: left;
    padding-bottom: 1rem;
    padding-top: 1rem;
    outline: 1px solid red;
    text-align: center;
}

/*  ------------------------------------------
Start your code here
------------------------------------------  */

.y {
    @media screen and (min-width: $lg) {
        width: span(8);
    }
}

.x {
    @media screen and (min-width: $lg) {
        margin-left: span(2);
    }

}

.container-header {
    width: 100%;
    transition: all 0.5s ease-in-out 0s;
    @include container($width: 100%, $debug: true);
    @media only screen and (min-width: $md) {
        padding: .6em 4em;
    }
    @media only screen and (min-width: $lg) {
        padding: 1.2em 4em;
        //padding-top: 1.2em;
        //padding-bottom: 0em;
        //padding-left: 4em;
        //padding-right: 4em;
    }
    padding: .6em 1em;
    height: 60px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;

}

.sticky {
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 999;
    height: 60px;
    background: #17252c;
    /*  background: #455A64;*/
    padding-top: .6em;
    opacity: 0.9;
    transition: all 0.4s ease-in-out 0s;
    .logo {
        a {
            font-size: 18px!important;
            font-weight: 600;
        }
    }
    @media screen and (min-width: $md) {
        height: 110px;
    }
    @media screen and (min-width: $lg) {
        height: 60px;
    }
}

.logo {
    @include span(last 8);
    //text-align: right;
    //margin-top: 5px;
    line-height: 1.2;
    font-size: 19px;
    font-size: 26px;
    font-weight: lighter;
    font-style: italic;
    color: #fff;
    text-shadow: 0 0 5px gray;
    letter-spacing: 1px;
    @media only screen and (min-width: $md) {
        @include span(12);
        margin-top: 0px;
        text-align: center;
        //font-size: 30px;
        //font-weight: bold;
        //a {
            //font-size: 24px !important;
        //}
    }
    @media only screen and (min-width: $lg) {
        @include span(2);
        //text-align: left;
        //margin: 0px;
        font-size: 20px;
        //a {
            //font-size: 24px !important;
            //display: block;
            //text-align: left;
            //margin-top: 4px!important;
        //}
        //span {
        //    font-size: 13px;
        //    font-weight: 300;
        //}
    }
    a {
        //font-size: 19px;
        //font-family: sans-serif;
        //font-weight: 400;
       // font-style: italic;
        //border-radius: 4px;
        //background-color: transparent;
        color: #fff;
        //text-shadow: 0 0 5px gray;
        //letter-spacing: 1px;
    }

    a:hover {
        color: $accent-color;
        transition: 0.4s;
    }
    //span {
    //    font-size: 35px;
    //    color: $accent-color;
    //    font-weight: 400;
    //}
}

.dribbbl {
    font-size: 30px;
    color: blueviolet;
}

/*============= Bergar Menu ==============*/

.burger {
    @media only screen and (min-width: $md) {
        display: none;
    }
    @include span(4);
    span {
        font-size: 28px;
        font-weight: bolder;
        color: $primary-color-text;
        cursor: pointer;
    }
    span:hover {
        color: $accent-color;
        transition: 0.4s;
    }
    .sidenav {

        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: $primary-color-dark;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        opacity: .95;
        ul {
            li {
                #drop-dwoun {
                    display: none;
                }
                a {
                    padding: 8px 8px 8px 32px;
                    text-decoration: none;
                    font-size: 16px;
                    color: $primary-color-text;
                    display: block;
                    transition: 0.3s;
                    font-weight: 400;


                }
                a:hover {
                    color: $accent-color;
                    transition: 0.4s;
                    border-left: 4px solid $accent-color;



                }
                a.active {
                    color: $accent-color;

                }
            }
            #Drop span {
                font-size: 13px;
                padding-left: 4px;
                font-weight: 300;
            }
        }
        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 28px;
            margin-left: 50px;
        }
        .closebtn:hover {
            color: $accent-color;
            transition: 0.4s;
        }
    }
}

/*============  Desktop Menu ==========*/

.Menu {
    @media only screen and (min-width: $md) {
        display: block;
        @include span(9);
        text-align: center;
        //margin-top: 5px;
    }
    @media only screen and (min-width: $lg) {
        @include span(7);
        //margin: 0px;
        ul {
            text-align: right!important;
        }
    }
    //margin-top: 10px;
    display: none;
}

.Menu ul {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    .hilight-menu {
        border: 1px solid$accent-bright;
        a {
            padding: 0px 6px!important;
            color: $accent-bright;
            border-bottom: 0px!important;
        }
        a:hover {
            color: $accent-bright-2;
        }
    }
    li {
        position: relative;
        display: inline-block;

        margin: 0px;
        a {
            display: block;
            color: #eef5f2;
            font-size: 13px;
            font-weight: 500;
            text-shadow: #9BA2AB;
            margin-right: 2px;
            padding: 0px 9px;
            text-transform: uppercase;

        }
        a:hover {
            padding-bottom: -10px;
            color: #05766b;
            transition: 0.5s;
            border-bottom: 1px solid#05766b;

        }
        a.active {
            color: #05766b;

        }

        ul {
            left: 0;
            text-align: left;
            position: absolute;
            top: 80px;
            width: 200px;
            background: #eef5f2;
            z-index: 999;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            transition: .4s;
            padding-top: 10px;
            padding-bottom: 10px;
            li {
                display: block;
                float: left;
                a {
                    color: #605d5d;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 4px 10px;
                    padding-left: 10px;
                    text-transform: capitalize;
                }
                a:hover {
                    margin-left: 6px;
                    color: #05766b;
                    border-bottom: 0px solid#05766b;
                }
            }
        }
        &:hover ul {
            opacity: 1;
            visibility: visible;
            z-index: 999;
            top: 50px;
        }
    }

}

/*========== Social Icons ==============*/

.social {
    @media screen and (min-width: $md) {
        @include span(last 3);
        display: block;
        text-align: right;
        //margin-top: 7px;
    }
    @media screen and (min-width: $lg) {
        @include span(last 3);
        display: block;
        //margin-right: 0px;
        //margin-top: 5px;

    }
    display: none;

    a {
        display: inline-block;
        .i{
            
        }
        img {
            height: 28px;
            width: 28px;
            background: #fff;
            border-radius: 50%;
            margin-right: 3px;
        }
        img:hover {
            box-shadow: 0px 3px 5px 0px #eef5f2;
            transition: all 0.4s ease-in-out 0s;
            color: $accent-color;

        }

    }
}

.footer-so {
    @media screen and (min-width: $md) {
        @include span(12);
        text-align: center!important;
        display: block;
        padding: 0px;
    }
    text-align: center;
    display: block;
    padding-top: 10px;
}

/*========== Footer Section ============*/

.container-footer {
    @include container($width: 100%, $debug: false);
    background-color: $primary-color-dark;
    padding: 1.6em 1em;
    @media only screen and (min-width: $lg) {
        padding: .6em 4em;
    }
}


.single-footer {
    @media only screen and (min-width: $md) {
        @include span(6);
        &:nth-child(2n) {
            @include span(last 6);
            margin-right: 0px;
        }

    }
    @media only screen and (min-width: $lg) {
        @include span(3);
        &:nth-child(2n) {
            @include span(3);
        }
        &:last-child {
            @include span(last 3);
            margin-right: 0px;
        }

    }
    margin-top: 30px;
    margin-bottom: 30px;

    p {
        padding-top: 7px;
        font-size: 14px;
        color: darkblue;
        color: $primary-color-text;
    }
    a {
        font-size: 18px;
        color: $primary-color-text;
    }
    h3 {
        margin-top: 0px;
        letter-spacing: 1px;
        color: $primary-color-text;
        font-weight: 400;
    }
    .blank {
        a {
            font-size: 14px;
            color: $primary-color-text;
            display: block;
            line-height: 27px;
        }
    }

}

.newslatter-custom {
    background: $primary-color-light;
    padding: 16px;
    border-radius: 4px;
    color: $primary-text-color;
    .blank #email {
        padding: 7px;
        border-radius: 4px;
        border: none;
        margin: 20px 5px 0px 0px;
    }
    h3 {
        color: $primary-text-color;
    }
    p {
        color: $primary-text-color;
    }
}

.container-bootom-footer {
    @include container($width: 100%, $debug: false);
    text-align: center;
    background-color: #3f535d;
    padding: 1em 1em;
}

.copyright {
    font-size: 13px;
    padding-bottom: 5px;
    p {
        color: $primary-color-text;
        font-size: 14px;
        a {
            color: $accent-color;
        }
        span {
            color: #E91E63;
            font-size: 16px;
        }
    }

}

#back-top {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $accent-color;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    font-size: 16px;
    font-weight: 600;
    span {
        display: block;
        color: #fff;
        font-size: 24px;
        font-weight: 700;

    }

}

#back-top:hover {
    background: #06776d;
    transition: all 0.5s ease-in-out 0s;
    border-radius: 5px;
}
