.feature-team{
    position: relative;
    width: 100%;
    height: auto;
    background: #F5F5F5;
    padding: 80px 0;
    .featureTeamTitle{
        position: relative;
        h2{
            color: #333;
            font-size: 40px;
            font-weight: 300;
            line-height: 50px;
            margin-bottom: 60px;
            text-align: center;
        }
        p{
            font-size: 24px;
            font-weight: 400;
            font-style: italic;
            text-align: center;
            line-height: 36px;
            padding: 0 15px;
            background: #f5f5f5;
            position: relative;
            &:before{
                position: absolute;
                left: 0;
                top: 17px;
                width: 38%;
                height: 2px;
                background: #32CCE2;
                content: '';

            }
            &:after{
                position: absolute;
                right: 0;
                top: 17px;
                width: 38%;
                height: 2px;
                background: #32CCE2;
                content: '';

            }
        }
    }
    .featureTeamItem{
        position: relative;
        margin-top: 40px;
        width: 80%;
        img{
            width: auto;
            height: auto;
            margin-bottom: 15px;
        }
        h3{
            clear: both;
            color: #32CCE2;
            font-family: "Lato",sans-serif;
            font-size: 17px;
            font-weight: 700;
            line-height: 27px;
            text-transform: uppercase;
            margin-bottom: 12px;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            color: #888;
            line-height: 24px;

        }
    }
}
.featureTeamTitle.microTeamTitle > p {
  margin: 52px 0 0;
}
/*------------------------end feature team section----------------------*/
