//Our Services Area
.service-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
    background-attachment: fixed;
    color: #fff;
    position: relative;
    background-image: url('../images/mobile-app-responsive.jpg');
}

// Our Main Servies area 
.main-services {
    padding: .6em 1em;
    @include container($width: 100%, $debug: false);
    @media only screen and (min-width: $lg) {
        padding: .6em 4em;
    }
    margin-bottom: 30px;
    margin-top: 30px;
    .border-bottom {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        font-weight: 400;
        font-size: 22px;
        color: $accent-color;
    }
    .singleSpItem {
        @media screen and (min-width: $md) {
            @include span(6);
            &:nth-child(2n) {
                @include span(last 6);
                margin-right: 0px;
            }
        }
        @media screen and(min-width: $md) {
            @include span(4);
            &:nth-child(2n) {
                @include span(4);
            }
            &:last-child {
                @include span(last 4);
                margin-right: 0px;
            }
        }
        height: 374px;
        text-align: left;
        background: #eef5f2;
        margin-bottom: 20px;
        margin-top: 20px;
        border: 1px solid#eef5f4;
        box-shadow: 0px 4px 6px 0px #d1d9d6;
        padding-bottom: 15px;
        border-radius: 5px;
        padding: 10px;
        img {
            width: 100%;
            height: 50%;

        }
        a {

            font-size: 20px;
            font-weight: 500;
            line-height: 3em;
            color: $accent-color;

        }

    }
    .singleSpItem:hover {
        -webkit-box-shadow: 0px 6px 20px 0px #d1d9d6;
        -mos-box-shadow: 0px 6px 20px 0px #d1d9d6;
        box-shadow: 0px 6px 20px 0px #d1d9d6;
        transition: 0.5s;
    }
}
