.web-design-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
    background-attachment: fixed;
    color: #fff;
    position: relative;
    background-image: url('../images/web-mobile-app-developer.jpg');
}

.tab-area-section {
    padding: .6em 1em;
    @include container($width: 100%, $debug: false);
    @media only screen and (min-width: $lg) {
        padding: .6em 4em;
    }
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
    .under-border {
        position: absolute;
        top: 25%;
        left: 26%;
        width: 48%;
        height: 10px;
        background: #f6f6f6;
        z-index: -1;
        margin-top: -17px;
        box-shadow: inset 0 5px 6px #4a4a4a;

    }

    #tabs {
        text-align: center;
        height: 100px;
        width: 100%;
        li {
            list-style: none;
            outline: none;
            display: inline-block;
            a {
                font-family: Arial, Helvetica, sans-serif;
                font-size: small;
                font-weight: bold;
                color: #5685bc;
                height: 120px;
                width: 120px;
                border-radius: 100%;
                display: block;
                background: $primary-color-dark;
                text-decoration: none;
                cursor: pointer;
                margin: 0px 80px;
                padding: 33px;
                font-size: 34px;
                color: #CCC;
                border: solid 10px#eef5f3;
                box-shadow: 0 5px 6px #4a4a4a;
                transition: 0.2s ease all;
            }
            a.inactive {
                color: #fff;
                background: $accent-color;
                border: solid 10px#eef5f3;
                box-shadow: 0 4px 5px #4a4a4a;
                height: 110px;
                width: 110px;
                border-radius: 100%;
                padding: 30px;
            }

        }
    }
}
// Vue js Slider 
.tab-content {
    margin-bottom: 30px;
    margin-top: 30px;
    .container {
        clear: both;
        width: 100%;
        text-align: center;
        h2 {
            color: $accent-color;
            font-size: 28px !important;
            line-height: 50px!important;
            font-weight: 400;
        }
        ul {
            margin-left: 25px;
            font-size: small;
            line-height: 1.4;
            list-style-type: disc;
            li {
                padding-bottom: 5px;
                margin-left: 5px;
            }
        }

    }

}
.slide {
  
  .image-container {
    img {
      width: 100%;
      height: auto;
    }
    float: left;
    width: 200px;
    margin-right: 15px;
  }
  .title {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
  }
  .teaser {
    text-align: left;
  }
  
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#slider {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

#slides .inner {
  width: 400%;
}

#slides .inner {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);

  -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#slides article {
  width: 25%;
  float: left;
}

#slide1:checked ~ #slides .inner {
  margin-left: 0;
}

#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}

input[type="radio"] {
  display: none;
}

label {
  background: #CCC;
  display: inline-block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

#slide1:checked ~ label[for="slide1"],
#slide2:checked ~ label[for="slide2"],
#slide3:checked ~ label[for="slide3"],
#slide4:checked ~ label[for="slide4"] {
  background: #333;
}